@import '~antd/es/style/themes/default.less';

.view {
  width: 450px;
  box-sizing: border-box;
  //padding: 1px;                                                         
  //border:0px solid rgb(208,208,208);
  border-radius: 5px;
}
